*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    background: url("Untitled design.gif");
    
}

.loader{
    position: relative;
    height:300px;
    width:300px;
}

.loader span{
    position: absolute;
    top:0px;
    left:0px;
    width: 100%;
    height:100%;
    transform: rotate(calc(36deg * var(--i)));
}

.loader span::before{
    content: " ";
    position: absolute;
    top:0px;
    left:0px;
    width: 25px;
    height: 25px;
    background: transparent;
    border-radius: 50%;
    box-sizing: border-box;
    border: 4px solid turquoise;
    box-shadow: 0 0 20px turquoise,
    -30px -30px 0px turquoise,
    -30px -30px 20px turquoise,
    
    30px 30px 0px turquoise,
    30px 30px 20px turquoise,
    
    30px -30px 0px turquoise,
    30px -30px 20px turquoise,
    
    -30px 30px 0px turquoise,
    -30px 30px 20px turquoise;

    animation: animate 5s linear infinite;
    animation-delay: calc(-0.25s * var(--i));
    transform-origin:2px;
    transition: 2s;
}

.loader:hover span::before{

    
    
    box-shadow: 0 0 20px turquoise,
    -200px -200px 0px turquoise,
    -200px -200px 20px turquoise,
    
    200px 200px 0px turquoise,
    200px 200px 20px turquoise,
    
    200px -200px 0px turquoise,
    200px -200px 20px turquoise,
    
    -200px 200px 0px turquoise,
    -200px 200px 20px turquoise;
    transform-origin: 250px;
}

body:hover span::before{
    background-image: url("Untitled design.gif");
}


@keyframes animate{
    0%{
        filter:hue-rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        filter: hue-rotate(90deg);
        transform: rotate(360deg);
    }
}